.progress-bar-warning {
  height: 19px;
  position: relative;
  width: 155px;
}

.progress-bar-warning .element {
  color: #8898aa;
  font-family: "Open Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.progress-bar-warning .progress-bar {
  background-color: #e1e4e7;
  box-shadow: inset 0px 1px 2px #0000001a;
  height: 3px;
  left: 35px;
  position: absolute;
  top: 9px;
  width: 120px;
}

.progress-bar-warning .bar-on {
  background-color: #fb6340;
  height: 3px;
  width: 72px;
}
